# Ignore backup files
*.orig

# Ignore temporary editor files.
*.swp
*~

# Ignore binaries.
*.py[cod]
*.so
*.dll

# Ignore files created by setup.py.
build
dist
MANIFEST
Orange/version.py
*.egg-info
*.egg
setuptools*.tar.gz
ENV/*

# Built documentation.
docs/build/*